/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  line-height: 1.6;
  background-image: url(./img/bg.jpg);
}

body>div {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  box-shadow: 0 0 6px rgba( 0, 0, 0, 0.2);
}

td img {
  width: 40px;
  height: auto;
}

a {
  font-weight: bold;
  color: #1fabe5;
}

a:hover {
  color: #D14720;
}

#page_content {
  padding: 10px;
}

h1, h2, h3 {
  color: #1fabe5;
  margin-top: 1.8em;
  margin-bottom: 0;
}

h1 {
  color: #1fabe5;
}

h2 {
  color: #1fabe5;
  text-transform: uppercase;
  font-weight: 300;
}


}
table {
  border: 0.5px solid;
  border-collapse: collapse;
}
tbody td {
  border: 1px solid #1fabe5;
}
thead td {
  border: 1px solid #046c97;
  background-color: #1fabe5;
  color: white;
  padding: 5px;
}
ul {
  background-color: white;
  color: black;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  width: 40%;
}
.name {
  border-radius: 5px;
  background-color: #ff8523;
  padding: 15px;
  color: white;
}
#logo {
  background-color: #ff8523;
  text-align: right;
  font-size: 5em;
  text-transform: uppercase;
  margin: 0px 1px 0px 1px;
  padding: 0px 100px 0px 1px;
}
#site_header {
  background-color: #ff8523;
  padding: 28px;
}
.main_navigation a {
  /*background-color: #ff8523;*/

  padding: .5em 2em;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}
form {
  background-color: #ddd;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
}
#submit_button {
  color: white;
  background-color: #1fabe5
}
